.l-main-content {


    .l-main-content-text {
        div {
            font-size: $p;
            font-family: $font-family;
        }

        .l-main-content-text__year {
            font-size: $h2;
            font-family: $english-font;
            font-weight: 700;
        }
    }

    .l-main-content-list {
        display: flex;
        align-items: center;
        font-family: $font-family;
        font-weight: 400;
        font-size: $p;

        div {
            padding: 0 0.5rem;
            display: flex;
            align-items: center;

            .l-main-content-list__img {
                height: 33px;
                width: 33px;
                padding: 0.2rem;
                cursor: pointer;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &:hover {
                    background-color: $hyweb-lighblue;
                }
            }

            .o-card {
                display: none;

            }

            .c-popover__content {
                left: -130px;
                top: 50px;
                transform-origin: 100px 20px;

                &::before {
                    left: 93%;
                }

                &::after {
                    left: 93%;
                }

            }

            button {
                border-radius: 50%;
                width: 33px;
                height: 33px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }

    .l-main-content-item {
        .l-main-content-item__listTitle {
            display: none;
        }

        .c-card-planPerson {
            margin: 0 0.5rem 2.5rem 0.5rem;
            max-width: 300px;
        }

        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        margin-bottom: 2.5rem;

    }
}

//改變資料樣式
.change-card-to-list {
    .l-main-content-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .l-main-content-item__listTitle {
            display: block;
            background-color: $hyweb-lighblue;
            padding: 20px 0px 20px 3rem;
            display: flex;
            font-family: $font-family;
            font-size: $p;
            border-radius: $list-radius $list-radius 0 0;
            border-bottom: 1px solid $hyweb-blue;
            font-weight: 700;
            width: 100%;
            line-height: 28px;
            max-width: 2560px;

            .listTitle__num {
                width: 20%;
            }

            .listTitle__name {
                width: 60%;
            }

            .listTitle__position {
                width: 10%;
            }

            .listTitle__time {
                width: 10%;
            }
        }
        a{
            width: 100%;
            display: flex;
            padding: 0;
        }
        .c-card-planPerson {
            .c-card__tag {
                width: 20%;
                padding: 0;

                span {
                    background: #fff;
                    color: $gray1;
                    padding: 0;
                    font-size: $p;
                    font-family: $font-family;
                }

            }

            h2 {
                width: 60%;
                font-weight: 400;
                @include db_ellipsisText;
                max-height: 56px;
            }

            width: 100%;
            margin: 0;
            padding: 20px 0px 20px 3rem;
            max-width: 2560px;
            display: flex;
            align-items: center;
            box-shadow: none;
            border-radius: 0px;
            border-bottom: 1px solid $sec2;

            .c-card__userInformation {
                .c-card__userInformation__position {
                    display: none;
                }

                width: 10%;
                margin-top: 0;
                color:$gray1;
                border-bottom:0;
                justify-content:start;
                font-size: $p;

            }

            .c-card__content {
                margin-top: 0;
                width: 10%;
            }

            .c-card__item {
                margin-top: 0;
            }

            .c-card__item__title {
                display: none;
                margin-top: 0;
            }

            .c-card__item__time {
                font-size: $p;
                font-family: $font-family;
            }
        }

    }

}